.notifications .notifications-btn {
  position: relative;
}
.notifications .notifications-count {
  position: absolute;
  top: -9px;
  right: -3px;
  height: 16px;
  width: 20px;
  border-radius: 224px;
  padding: 8px 4px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 116%;
  background: #E10054;
}
