.active_photo_border {
  position: relative;
  border-bottom: 1px solid #E8E8E8;
}
.active_photo_border .block {
  position: relative;
  height: 3px;
  border-radius: 3px;
  opacity: 0;
  background: #DBDBDB;
}
.active_photo_border .block:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 3px;
  opacity: 0;
  background: #DBDBDB;
}
.active_photo_border .block.active {
  opacity: 1;
}
.active_photo_border .block.active:after {
  opacity: 1;
}
.active_photo_border .block.block.center {
  bottom: -2px;
}
.active_photo_border .block.block.center:after {
  display: none;
}
