.goods-title {
  margin-bottom: 15.5px;
  font-size: 24px;
  font-family: 'Druk Bold', serif;
  line-height: 116%;
}
.goods-title-count {
  margin-left: 0.7rem;
  color: #7B7B7B;
  font-size: 16px;
}
.goods-control {
  padding: 7.5px 0 9.5px;
}
.goods-control .icons {
  display: flex;
  align-items: center;
  justify-content: end;
}
.goods-control .goods-control-btn {
  justify-content: space-between;
}
.goods-control .goods-control-btn.goods-control-btn--only {
  color: #3E77AA;
  font-size: 16px;
}
.goods-control .goods-control-btn.goods-control-btn--plus,
.goods-control .goods-control-btn.goods-control-btn--icon {
  color: #4074C1;
}
.goods-control .goods-control-btn.goods-control-btn--icon {
  margin-left: 36px;
}
.goods .show-more {
  height: 40px;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #4074C1;
  font-size: 16px;
}
.goods .show-more-icon {
  margin-left: 8px;
}
.goods .goods-watched {
  margin-top: 96px;
}
.goods .goods-watched .list_goods {
  border: none;
}
.goods .goods-watched .goods-watched-title {
  padding: 16px 0 8px;
  font-family: 'Druk Bold', serif;
  font-size: 20px;
  line-height: 116%;
}
.goods .goods-watched .product:nth-child(2n) {
  padding-left: 12px;
}
